# Node.js関連
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ビルドフォルダ
build/
dist/

# テスト出力
coverage/

# ログファイル
*.log

# 環境変数ファイル
.env
.env.local
.env.*.local

# エディタ関連
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS関連
.DS_Store
Thumbs.db

# React関連
public/static/
*.cache/
*.tmp/

